/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    color: #000;
}

.logo img {
    max-height: 60px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    margin: 0;
}

header ul li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #02032e;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid transparent;
}

header nav ul li a:hover {
    background-color: #34495e;
    border-bottom: 1px solid #bbb;
}
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: #2c3e50;
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

.menu-link:hover {
    background-color: gray;
    border-radius: 5px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(88, 139, 197, 0.3);
}

.submenu li {
    padding: 5px 20px;
}

.submenu li a {
    color: #2c3e50;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: rgb(100, 129, 190);
    border-radius: 5px;
}

/* Mostrar el submenu al pasar el cursor */
.menu-item:hover .submenu {
    display: flex;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 1.4rem;
    font-size: 0.9rem;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    text-align: center;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #3498db;
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icon-image {
    width: 40px;
    height: 40px;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.social-icon-image:hover {
    transform: scale(1.1);
}


/* Media Queries */

@media (max-width: 720px) {

    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* Header: Navegación móvil */
    header nav ul {
        flex-direction: row;
        margin: 1rem;
        width: 100%;
    }

    header nav ul li {
        border: none;
    }

    .hero {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        height: 250px;
    }

    .hero-text {
        padding: 1rem;
    }

    .hero h1 {
        font-size: 22px;
    }

    .hero p {
        font-size: 14px;
    }

    /* Barra de búsqueda */
    .search-bar input {
        width: 90%; /* Ajustar al tamaño de la pantalla */
    }

    .search-bar button {
        width: 90%;
    }

    /* Footer: Mejor distribución en móviles */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
        margin-bottom: 1rem;
    }
}