
.content {
  flex: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}
.container{
  display: flex;
  flex-direction: column;
}
.sidebar{
  width: 100vw;
}
/*Questions*/

.contenido_pregunta {
  display: none;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

.contenido_prespuesta{
  width: 30vw;
  margin-left: 2px;
  margin-right: 2px;
 
}
.ubicacion_resp {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0078d7;
  font-size: 16px; 
  padding: 10px 15px; 
  border: 2px solid #0078d7; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  width:fit-content;
  height: fit-content;
  font-size: 12px;
  left:50%;
  transform: translateX(-50%);
}

.ubicacion_resp i {
  margin-right: 8px;
  font-size: 20px; 
}

.ubicacion_resp:hover {
  background-color: #e6e6e6;
  color: #0056b3;
  border-color: #0056b3; 
}
#lista_cita{
list-style-type:decimal;
padding-left: 20px;
}
#lista_cita li{
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}
#lista_cita li a{
  padding: 1px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

#info_3 :nth-child(2), #info_3 :nth-child(3){
 position: relative;
  display: flex;
 margin: 0 5px;
 left:50%;
}
#info_3 :nth-child(3){
  position: relative;
  bottom: 40px;
  left: 80px;
}
.social_icon_resp {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  background-color: #0056b3;
  border-radius: 50%;
  align-items: center;
  object-position: center center;
  transition: transform 0.3s ease;
}

.social_icon_resp:hover {
  color: #ccc; 
}

.social-icon-image_resp {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.social-icon-image_resp:hover {
  transform: scale(1.1);
}
.semana{
  justify-content: center;
  align-items: center;
  align-self: center;
}
.dia {
  background-color: white;
  color: #003B5C; 
  border-radius: 20px; 
  padding: 10px;
  margin: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
  width: fit-content;
}
.dia:hover {
  transform: scale(1.05); 
}
.main_questions {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in;
  min-height: 80vh;
  height: 100%;
  border-radius: 8px;
  overflow: hidden auto;
  padding: 0px 16px 18px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(8, 44, 69, 0.8) 0px 0px 2px 0px;
  align-items: center center;
}
.search_bar {
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  align-items: center center;
  justify-content: center;
}

.search_bar .search_button{
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 16px; 
}
.main_questions .title {
  position: relative;
  margin:  12px;
  padding: 1rem;
  border-radius: 17px;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  background-color: #dfdbdb;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
}

.question_box {
  margin: 0px;
  padding: 0px;
  overflow: hidden auto;
}
.question_box ul {
  list-style: none;
  margin: 0px;
  text-align: left;
  overflow: hidden hidden;
}
.question_box ul li button {
  display: flex;
  line-height: 1.4;
  text-decoration: none;
  color: rgb(18, 52, 71);
  font-size: 0.875rem;
  background-color: rgb(243, 245, 247);
  padding: 10px 12px 12px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  margin: 0px auto;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  position: relative;
  margin-left: 5px;
  width: 70vw;
}
.question_box ul li button:hover {
  background-color: rgb(15, 8, 62);
  color: #bbb;
}
.question_box ul li div {
  margin: 0px;
  padding: 0px;
  justify-content: center center;
}
#boton_4{
justify-content: start;
align-items: start;
}


@media (min-width: 720px) {
  .header {
    flex-direction: row;
    text-align: center;
  }

  .logo {
    height: 50px;
  } 

  .container {
    flex-direction: row;
  }

  .sidebar {
    width: 20%;
    height: auto;
  }
  .question_box ul li button {
    max-width: 520px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  #info_3 :nth-child(3){
    position: relative;
    bottom: 40px;
    left: 180px;
  }
  .semana{
    display: flex;
  }
  .dia{
    font-size: small;
    width:10vw;
  }
  .semana li:nth-child(4){
    position: absolute;
    top:75%;
    left:25%;
  }
  .semana li:nth-child(5){
    position: absolute;
    top:75%;
    left:42%;
  }
  .semana li:nth-child(6){
    position: absolute;
    top:75%;
    left:59%;
  }
  .footer-column {
    width: 100%;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .social-icon {
    font-size: 20px;
    margin: 5px 0;
  }

  .social-icon-image {
    width: 50px;
    height: 50px;
  }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
  .main_questions .title {
    font-size: larger;
    padding: 1rem;
  }
 
  #info_3 :nth-child(3){
    position: relative;
    bottom: 40px;
    left: 220px;
    padding: 0;
  }
  .question_box ul {
    position: relative;
    height: 80vh;
  }

  .question_box ul li {
    margin: 5px;
    display: flex;
  }
  .question_box ul li button {
    max-width: 15vw;
    max-height: 15vh;
    justify-content: left;
    margin-left: 0;
    transform: none;
    position: relative;
    font-size: medium;
  }
#boton_4{
  margin-top: 5px;
  margin-right: 0;
}
#info_4{
  position: relative;
  width: 100%;
  height:40vh;;
}
.semana{
  justify-content: center;
  align-items: start;
}
.dia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.semana li:nth-child(4){
position: relative;
top: 0%;
left: 0%;
}
.semana li:nth-child(5){
  position: absolute;
  top:16%;
  left:180px;
  }
  .semana li:nth-child(6){
    position: absolute;
    top:16%;
    left:295px;
    }
  .contenido_pregunta p {
    margin: 0 10px;
  }
  .question_box .contenido_pregunta {
    margin-bottom: 50px;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
}

#lista_cita{
  list-style-type:decimal;
  padding-left: 20px;
  }
  #lista_cita li{
    margin: 10px;
    font-size: 16px;
    color: #333;
  }

.footer-column {
    width: 30%;
}

.social-links {
    flex-direction: row;
    justify-content: space-around;
}

.social-icon {
    font-size: 24px;
}
}
@media (min-width: 1440px) {
  #lista_cita{
    margin: 10px;
    list-style-type:decimal;
    padding-left: 20px;
    }
    #lista_cita li{
      margin: 10px;
      font-size: 16px;
      color: #333;
    }
    #boton_4{
      align-items: center;
      justify-content: center;
    }
   
    #info_3 :nth-child(3){
      position: relative;
      bottom: 40px;
      left: 400px;
    }
    .dia{
      width:200px;
    }
    .semana li:nth-child(6){
      position: absolute;
      top:16%;
      left:400px;
      }
    .question_box ul li button {
        font-size: large;
      }

}
