
.content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}

.recruitment-form {
  width: 100%;
  max-width: 600px; 
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.recruitment-form h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #02032e;
}

.recruitment-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recruitment-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #02032e;
}

.recruitment-form input[type="text"],
.recruitment-form input[type="email"],
.recruitment-form input[type="tel"],
.recruitment-form select,
.recruitment-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.recruitment-form button {
  background-color: #380000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recruitment-form button:hover {
  background-color: #e6e6e6;
}

#confirmation-message {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-size: 1rem;
}

.hidden {
  display: none;
}



/* Responsivo */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    padding: 10px;
  }

  .recruitment-form {
    max-width: 100%;
  }
}
