
.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    max-width: 1000px; 
    padding: 20px;
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #02032e;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #02032e;
}

.map-container {
    width: 100%;
    max-width: 800px; 
    height: 500px; 
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}





/* Media queries */
@media (max-width: 720px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        height: 50px; 
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-icon {
        font-size: 20px;
        margin: 5px 0;
    }

    .social-icon-image {
        width: 50px;  
        height: 50px;
    }

    .programa, .nuevo-local {
        flex-direction: column;  /* En pantallas pequeñas, apilar texto e imagen */
        text-align: center;  /* Centrar el texto */
    }

    .programa p, .nuevo-local p {
        max-width: 100%; /* El texto ocupa todo el ancho */
    }

    .ropa-mujeres {
        width: 80%;  /* La imagen ocupa más espacio en pantallas pequeñas */
        margin-top: 15px;
    }
}

@media (min-width: 1025px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        width: 30%;
    }

    .social-links {
        flex-direction: row;
        justify-content: space-around;
    }

    .social-icon {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .map-container {
        width: 90%; /* Ancho más pequeño en pantallas móviles */
        height: 300px; 
    }
}
